@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

:root {
    --background: #080a12;
    --foreground: #cacaca;
    --padding: 40px;
}

html,
body {
    overflow-x: hidden;
    overscroll-behavior: none;
    scrollbar-gutter: stable;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    overflow-x: hidden;
    padding: var(--padding);
    background: var(--background)
        url(https://static-assets.bamgrid.com/product/disneyplus/images/background.dc67869b698f6c927aae59c68d9dda46.png)
        50% / cover no-repeat fixed;
    overflow-y: scroll;
}
